# Ignore all zip files
*.zip

# Allow tracking of lambda_sqs.zip
!lambda/lambda_sqs.zip

# Terraform files and directories
terraform.tfvars  # Typically contains sensitive data like credentials, should not be committed
terraform.tfstate  # Contains current state of infrastructure
terraform.tfstate.backup  # Backup of state file
.tfplan  # Terraform plan output files
tfplan.out  # Specific Terraform plan output
.terraform/  # Folder containing plugins and other cached data
.terraform.lock.hcl  # Optional, depends on team's preference

# Python cache files
__pycache__/
*.pyc

# Terraform binaries and archives
terraform_*.zip
terraform
terraform.exe

# Log files and temporary files
logs get-log-events

# Temporary files (CLI artifacts)
--queue-url
--region

# AWS Config files (potentially sensitive)
aws
